# Node modules
node_modules/

# Build output directories
dist/
dist-ssr/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
pids/
*.pid
*.pid.lock
*.seed

# Coverage directory used by testing tools
coverage/
*.lcov

# npm related
.npm
*.tgz
.node_repl_history

# Debug files and yarn integrity
.yarn-integrity

# Operating system files
.DS_Store

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.sw?
